body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 230, 0);
}

.btn {
    font-family: fantasy;
    letter-spacing: 1px;
    width: 100px;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    background-image: linear-gradient(to right, black 50%, transparent 50%);
    background-position-x: 100%;
    background-size: 200% 100%;
    padding: 15px 30px;
    border-radius: 30px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    transition: all 0.5s ease 0s;
}

.btn:hover {
    color: white;
    background-position-x: left;
    border: white solid 2px;
    cursor: pointer;
}

